@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main#espaço {
    height: 100vh;
    background: black url(../imagens/espaco.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

img#astronauta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    max-height: 500px;
    display: block;
}