@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body{
    background-image: linear-gradient(to right,#4984b8 , #1F4C73);
}

main{
    background-color: white;
    margin: auto;
    width: 700px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #1a3f5f8f;
}

h1{
    text-align: center;
    color: #D9601A;
    text-shadow:1px 1px 3px #8a3d11a8;
}

h2{
    color: #F2AE30;
}

h3{
    color: #F2AE30;
}

h4{
    color: #F2AE30;
}

p{
    text-align: justify;
}